* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 1024px;
  background: #22ba8c;
  background-position: center;
}

.header-inner {
  padding-top: 50px;
}

.header-title {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 24px;
  font-size: 64px;
  line-height: 108px;
  text-align: center;
  color: #fff;
  border: 5px solid #c4c4c4;
}

.header-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0;
}

.header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 500px;
  background: #c4c4c4;
  text-align: center;
}

.header-item-img {
  width: 300px;
  height: 350px;
  padding: 20px 0;
  object-fit: cover;
}

.header-item-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border: 5px solid #fff;
}

.header-img-title {
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 0 30px 0;
}

.header-link {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 100px;
  background: #dbafaf;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  .header-title {
    font-size: 48px;
  }

  .header-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 80px 0;
  }

  .header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 400px;
    background: #c4c4c4;
    text-align: center;
  }

  .header-item-img {
    width: 200px;
    height: 250px;
    padding: 20px 0;
    object-fit: cover;
  }
}

@media (max-width: 414px) {
  .container {
    width: 360px;
    margin: 0 auto;
  }

  .header {
    width: 414px;
  }

  .header-title {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border: 3px solid #c4c4c4;
  }

  .header-items {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding: 40px 0;
  }

  .header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 400px;
    background: #c4c4c4;
    text-align: center;
  }

  .header-item-img {
    width: 200px;
    height: 250px;
    padding: 20px 0;
    object-fit: cover;
  }
}
