@import '../vars';

.bike {
	padding: 100px 0 0;

	@media (max-width: 1110px) {
		padding: 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1110px) {
			flex-direction: column;
		}
	}

	&__column {
		@media (max-width: 1110px) {
			margin-bottom: 30px;
		}
	}

	&__column-slider {
		flex-basis: 630px;
		margin-left: 30px;
		max-width: 630px;

		@media (max-width: 1110px) {
			max-width: 100%;
			margin-left: 0;
			margin-bottom: 0;
			flex-basis: 100%;
		}
	}

	&__title {
		font-size: 64px;
		font-weight: 700;
		line-height: 77px;
		margin: 60px 0 5px;

		@media (max-width: 670px) {
			font-size: 44px;
			line-height: 57px;
			margin: 30px 0 5px;
		}

		@media (max-width: 460px) {
			font-size: 30px;
			line-height: 37px;
		}
	}

	&__subtitle {
		margin: 0 0 60px;
		font-size: 32px;
		line-height: 39px;
		color: $secondary-color;
		font-weight: 400;
		@media (max-width: 670px) {
			font-size: 22px;
			line-height: 29px;
			margin: 0 0 30px;
		}

		@media (max-width: 460px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__text {
		max-width: 420px;
		margin-bottom: 20px;
		@media (max-width: 1110px) {
			max-width: 100%;
		}
	}

	&__link {
		margin-top: 80px;
		display: inline-block;
		background-color: $dark;
		color: $light;
		text-transform: uppercase;
		padding: 28px 71px 28px 81px;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 22px;
		transition: all 0.4s;
		@media (max-width: 460px) {
			padding: 15px;
			letter-spacing: 0.9em;
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}
	}

	&__link:hover {
		background-color: $red-color;
		@media (max-width: 991px) {
			background-color: $dark;
		}
	}

	&__slider .slick-dots {
		right: 0;
		top: 50px;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		@media (max-width: 670px) {
			flex-wrap: wrap;
		}
		@media (max-width: 460px) {
			margin-top: 30px;
		}
	}

	&__list-item {
		min-width: 160px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		min-height: 58px;
		@media (max-width: 670px) {
			width: 50%;
			margin-bottom: 15px;
		}
	}

	&__list-num {
		font-weight: 700;
		text-transform: uppercase;
	}

	&__list-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		margin: auto 0;
	}
}
