@import '../vars';

.characteristics {
	padding-top: 100px;
	margin-bottom: 150px;

	&__title {
		margin: 0 0 40px;
		text-transform: uppercase;
	}

	&__inner {
		display: flex;
	}

	&__img {
		align-self: center;
	}

	&__items {
		flex-basis: 570px;
		margin-right: 60px;
	}

	&__list + &__list {
		padding-top: 30px;
	}

	&__item-title {
		padding: 2px 0 3px;
		text-transform: uppercase;
		background-color: $dark;
		font-weight: 700;
		color: $light;
	}

	&__item-line {
		display: flex;
		padding-top: 5px;
	}

	&__name {
		flex-basis: 285px;
		padding-right: 25px;
	}

	&__descr {
		flex-basis: 285px;
	}
}
