@import '../vars';

.characteristics {
	padding-top: 100px;
	margin-bottom: 150px;
	@media (max-width: 991px) {
		padding-top: 50px;
		margin-bottom: 50px;
	}

	&__title {
		margin: 0 0 40px;
		text-transform: uppercase;
	}

	&__inner {
		display: flex;
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
	}

	&__img {
		align-self: center;
		@media (max-width: 991px) {
			order: -1;
			width: 100%;
			margin-bottom: 30px;
		}
	}

	&__items {
		flex-basis: 570px;
		margin-right: 60px;
		@media (max-width: 991px) {
			flex-basis: 100%;
			margin-right: 0;
		}
	}

	&__list + &__list {
		padding-top: 30px;
	}

	&__item-title {
		padding: 2px 0 3px;
		text-transform: uppercase;
		background-color: $dark;
		font-weight: 700;
		color: $light;
	}

	&__item-line {
		display: flex;
		padding-top: 5px;
	}

	&__name {
		flex-basis: 285px;
		padding-right: 25px;
		@media (max-width: 991px) {
			flex-basis: 50%;
		}
	}

	&__descr {
		flex-basis: 285px;
		@media (max-width: 991px) {
			flex-basis: 50%;
		}
	}
}
