@font-face {
	font-family: Inter;
	font-weight: 400;
	src: local('Inter'), url(../../fonts/Inter-400.woff2);
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter'), url(../../fonts/Inter-700.woff2);
}
