@import '../vars';

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 640px) {
			display: block;
			text-align: center;
		}
	}

	&__menu {
		margin-right: 70px;

		@media (max-width: 991px) {
			margin-right: 0;
		}
		@media (max-width: 640px) {
			margin-top: 50px;
		}
		@media (max-width: 350px) {
			margin-top: 30px;
		}
	}

	&__menu-list {
		display: flex;

		@media (max-width: 640px) {
			justify-content: space-evenly;
		}

		@media (max-width: 460px) {
			justify-content: space-between;
		}
	}

	&__menu-item + &__menu-item {
		padding-left: 10px;

		@media (max-width: 640px) {
			padding-left: 0;
		}
	}

	&__menu-link {
		text-transform: uppercase;
		padding: 43px 20px;
		transition: all 0.3s;

		@media (max-width: 640px) {
			padding: 25px 20px;
		}
		@media (max-width: 460px) {
			padding: 25px 0;
		}
		@media (max-width: 350px) {
			font-size: 12px;
		}
	}

	&__menu-link:hover {
		background: $dark;
		color: $light;
	}
}
