@import '../vars';

.info {
	margin-bottom: 150px;

	&__inner {
		display: flex;
	}

	&__img {
		margin-right: 60px;
		flex-basis: 570px;
		object-fit: cover;
	}

	&__list {
		flex-basis: 490px;
	}

	&__item + &__item {
		margin-top: 50px;
	}

	&__item-title {
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		margin: 0 0 10px;
	}

	&__item-text {
		max-width: 490px;
	}
}
