@import "globals";
@import "blocks/container";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/logo";
@import "blocks/slider";
@import "blocks/btn";
@import "blocks/info";
@import "blocks/catalog";
@import "blocks/collection";
@import "blocks/subscribe";
@import "blocks/footer";
