@import "../vars";

.catalog {
  &__top {
    min-height: 250px;
    background: $secondary-color;
  }

  &__inner {
    padding: 60px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    min-height: 250px;
  }

  &__item--mens {
    background: url(../../images/bg-product.png);
    background-repeat: no-repeat;
    background-position: bottom right 15px;
  }

  &__item--womens {
    background: url(../../images/bg-product-womens.png);
    background-repeat: no-repeat;
    background-position: bottom right 15px;
  }

  &__item-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
  }

  &__item-title span {
    font-weight: 300;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    color: $dark;
    font-weight: 300;
    margin-bottom: 40px;
  }

  &__btn {
    padding: 7px 30px;
  }

  &__inner-bottom {
    background: $secondary-color;
  }

  &__bottom-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  &__bottom-item {
    position: relative;
    max-width: 100%;
  }

  &__bottom-title {
    position: absolute;
    bottom: 25px;
    left: 30px;
  }

  &__bottom-img {
    max-width: 100%;
  }

  &__bottom-link {
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    color: $dark;
    text-transform: uppercase;
    font-weight: 300;
  }
}

@media (max-width: 1124px) {
  .catalog {
    &__bottom-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 850px) {
  .catalog {
    &__bottom-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 620px) {
  .catalog {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 576px) {
  .catalog {
    &__bottom-list {
      grid-template-columns: 1fr;
    }
  }
}
