@import "../vars";

.collection {
  &__inner {
    margin: 150px 0;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: $accent-dark;
    text-transform: uppercase;
    text-align: center;
  }

  &__models {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 30px;
  }

  &__model {
    max-width: 100%;
    position: relative;
    padding: 25px;
    max-width: 255px;
    border: 3px solid $accent-color;
    text-align: center;
  }

  &__model::before {
    content: "";
    position: absolute;
    left: 25px;
    right: 25px;
    top: -3px;
    bottom: -3px;
    background: transparent;
    border-top: 3px solid $light;
    border-bottom: 3px solid $light;
  }

  &__model::after {
    content: "";
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: -3px;
    right: -3px;
    background: transparent;
    border-left: 3px solid $light;
    border-right: 3px solid $light;
  }

  &__model-img {
    max-width: 100%;
    padding-bottom: 25px;
  }

  &__model-link {
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: $dark;
  }

  &__model-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $accent-color;
    text-transform: uppercase;
  }

  &__btn {
    position: relative;
    padding-right: 64px;
  }

  &__btn::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 8px;
    top: 21px;
    right: 35px;
    background: url(../../images/Arrow.svg);
    background-position: center;
  }
}

@media (max-width: 1124px) {
  .collection {
    &__models {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 850px) {
  .collection {
    &__models {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 576px) {
  .collection {
    &__models {
      grid-template-columns: 1fr;
    }
  }
}
