@import "../vars";

.header {
  background: $secondary-color;

  &__inner {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    order: -1;
  }

  &__menu-item {
    &:hover .header__submenu {
      display: block;
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0 5px;
    background-color: $accent-color;
    z-index: 2;
  }

  &__submenu-item {
    padding: 0.4em 0.2em;
    border-bottom: 1px dashed $dark;
  }

  &__submenu-link {
    display: block;
    text-decoration: none;
    color: $accent-dark;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0.3em;
  }

  &__link + &__link {
    margin-left: 35px;
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
    color: $accent-dark;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: none;
}

.cart {
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__informer {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: $light;
    padding: 0 12px;
    margin-left: 30px;
    text-align: center;
    background: $accent-color;
  }

  &__informer::before {
    position: absolute;
    top: 7px;
    left: 45px;
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid $accent-color;
  }
}
