@import "../vars";

.info {
  width: 100%;
  min-height: 235px;
  background: $accent-dark;

  &__inner {
    text-align: center;
    padding: 80px 150px 70px 150px;
  }

  &__title {
    color: $light;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
  }

  &__title span {
    font-weight: 400;
  }

  &__text {
    color: $light;
    font-size: 21px;
    font-weight: 300px;
    line-height: 26px;
  }
}
