@import "../vars";

.info {
  width: 100%;
  min-height: 235px;
  background: $accent-dark;

  &__inner {
    text-align: center;
    padding: 80px 150px 70px 150px;
  }

  &__title {
    color: $light;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 35px;
  }

  &__title span {
    font-weight: 400;
  }

  &__text {
    color: $light;
    font-size: 21px;
    font-weight: 300px;
    line-height: 26px;
  }
}

@media (max-width: 776px) {
  .info {
    &__inner {
      padding: 30px 60px;
    }
  }
}

@media (max-width: 372px) {
  .info {
    &__title {
      font-size: 18px;
    }

    &__text {
      font-size: 15px;
    }
  }
} ;
