@import "../vars";

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  &__item + &__item {
    margin-left: 35px;
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: $accent-dark;
    text-decoration: none;
  }

  &__link::after {
    position: absolute;
    content: "";
    top: 6px;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 8px solid $accent-dark;
    margin-left: 5px;
    display: inline-block;
  }
}
