@import "../vars";

.slider {
  background: $secondary-color;

  &__item {
    padding-top: 100px;
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__sale {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    color: $dark;
  }

  &__discount {
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
  }

  /* Slider IMG ////////////////// */

  &__item-img {
    position: relative;
  }

  &__item-img img {
    width: 100%;
  }

  &__img-price {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
  }

  &__old-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: $dark;
    text-decoration: line-through;
  }

  &__new-price {
    font-size: 42px;
    line-height: 51px;
    font-weight: 700;
    color: #d84033;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.slick-dots button {
  font-size: 0;
  border: none;
  background: #cecece;
  width: 40px;
  height: 7px;
  margin: 100px 15px 70px 15px;
}

.slick-dots .slick-active button {
  background: $accent-color;
}

@media (max-width: 870px) {
  .slider {
    &__discount {
      font-size: 2em;
      line-height: 1.5em;
      font-weight: 700;
      color: $dark;
      text-transform: uppercase;
      margin: 1em 0;
    }
  }
}

@media (max-width: 660px) {
  .slider {
    &__item-inner {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 440px) {
  .slider {
    &__old-price {
      font-size: 12px;
      line-height: 15px;
    }

    &__new-price {
      font-size: 21px;
      line-height: 25px;
    }
  }
} ;
