@font-face {
    font-family: Inter;
    font-weight: 400;
    src:
        local("Inter"),
        url(../fonts/Inter-400.woff2);
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
        local("Inter"),
        url(../fonts/Inter-700.woff2);
}

html,
body {
    position: relative;
    height: 100%;
    color: #131313;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 420px;
    padding: 28px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 22px;
    text-transform: uppercase;
    background: #131313;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding-top: 3px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__item:hover .header__item-link {
    background-color: #131313;
    color: #fff;
    padding: 42px 20px 41px 18px;
}

.header__item-link {
    text-transform: uppercase;
    font-size: 14px;
}

.product {
    padding-top: 140px;
}

.product__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product__title {
    font-size: 64px;
    font-weight: 700;
    padding-top: 72px;
    margin-bottom: 5px;
}

.product__descr-inner {
    width: 420px;
}

.product__descr-subtitle {
    color: #6F6F6F;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 60px;
}

.product__descr-text-1 {
    margin-bottom: 20px;
    line-height: 120%;
}

.product__descr-text-2 {
    margin-bottom: 80px;
    line-height: 120%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__list {
    display: flex;
    gap: 66px;
}