@font-face {
    font-family: Inter;
    font-weight: 400;
    src:
        local("Inter"),
        url(../fonts/Inter-400.woff2);
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src:
        local("Inter"),
        url(../fonts/Inter-700.woff2);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding-top: 3px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__item:hover .header__item-link {
    background-color: #131313;
    color: #fff;
    padding: 42px 20px 41px 18px;
}

.header__item-link {
    text-transform: uppercase;
    font-size: 14px;
}