@import '../vars';

.section-title {
	position: relative;
	color: $dark;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.section-title::after {
	content: '';
	width: 40px;
	height: 2px;
	background-color: $accent-red;
	position: absolute;
	top: 40px;
	left: 0;
}

@media (min-width: 1024px) {
	.section-title {
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 50px;
	}

	.section-title::after {
		position: absolute;
		top: 70px;
		width: 80px;
		height: 4px;
	}
}
