@import '../vars';

.user {
	color: $dark;
	&-inner {
		max-width: 280px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px 0 30px;
	}

	&-text {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		margin-top: 35px;
	}

	&-content {
		display: flex;
		flex-direction: column;
		gap: 45px;
	}

	&-form {
		display: flex;
		flex-direction: column;
	}

	&-form-title {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&-name-desc {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		margin: 20px 0 15px;
	}

	&-name-text {
		border-radius: 10px;
		border: 1px solid #d9d9d9;
		background: $light;
		padding: 17px 30px 18px 30px;
		color: #7d7d7d;
		font-family: $main-font;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px;
	}

	&-name-box input {
		width: 218px;
	}

	&-textarea {
		border-radius: 10px;
		border: 1px solid #d9d9d9;
		background: $light;
		padding: 20px 30px 55px 30px;
		margin-bottom: 30px;
		color: #7d7d7d;
		font-family: $main-font;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&-list-title {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
	}

	&-item-operator {
		color: $accent-color;
	}

	&-item-link,
	&-item-email-link {
		color: $dark;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px;
		text-decoration: none;
	}

	&-item-tel,
	&-item-email {
		margin: 5px 0;
	}
}

@media (min-width: 576px) {
	.user {
		&-inner {
			max-width: 360px;
		}

		&-name-box input {
			width: 100%;
		}

		&-name-box input {
			width: 298px;
		}
	}
}

@media (min-width: 768px) {
	.user {
		&-inner {
			max-width: 560px;
		}

		&-name-info {
			display: flex;
			justify-content: space-between;
		}

		&-name-box input {
			width: 200px;
		}
	}
}

@media (min-width: 1024px) {
	.user {
		&-inner {
			max-width: 960px;
		}

		&-content {
			flex-direction: row;
			gap: 200px;
		}

		&-text {
			font-size: 22px;
			line-height: 30px;
		}

		&-form-title {
			font-size: 18px;
			line-height: 25px;
		}

		&-list-title {
			font-size: 18px;
			line-height: 25px;
		}

		&-name-info {
			gap: 20px;
		}

		&-list {
			gap: 45px;
		}
	}
}
