@import "../vars";

.product-items {
  padding-top: 8em;

  img {
    margin-bottom: 1.5em;
  }

  h3 {
    font-size: 20px;
    padding-bottom: 1em;
    font-weight: 600;
  }

  .product-btn {
    position: relative;
    padding-right: 58px;

    a {
      text-transform: lowercase;
      font-weight: 400;
    }
  }
}

.nuts {
  padding-top: 6em;
  color: $special-color;
  font-weight: 600;
}
